<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [Library]Library.Infrastructure.Persistence.*,
            [Library]Library.Infrastructure.Repositories.*,
            [Library]Library.Infrastructure.Data.*,
            [Library]Library.Infrastructure.Services.*,
            [Library]Library.Infrastructure.Extensions.*,
            [Library]Library.Migrations.*,
            [Library]Library.Api.*,
            [Library]Program,
            [Library]Microsoft.AspNetCore.OpenApi.Generated.*,
            [Library]System.Runtime.CompilerServices.*
          </Exclude>
          <ExcludeByFile>
            **/Migrations/*.cs,
            **/obj/**/*.cs,
            **/Program.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
